section {
    background-color: rgb(18,22,23, .75);
    margin-bottom: 25px;
    padding-top: 10px;
}

li {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 4fr;
}

img {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1 / 5;
    max-height: 5000px;
    padding: 0px;
    margin-right: 10px;
    justify-self: center;
    align-self: center;
}

h3, h4, h5, p {
    display: grid;
    grid-column: 2 / 3;
    max-height: 100px;
    text-align: left;
    text-shadow: 2px 2px black;
    margin: 0px;
    padding: 0;
    padding-right: 10px;
}

h2 {
    text-shadow: 2px 2px black;
}